*{
    margin: 0px;
    padding: 0px;
}

#ad{
    text-align: center;
    color: white;
    background: #FF6F69;
    text-transform: uppercase;
    font-size: x-large;
    margin: 0px;
    width: 100%;
}


#head{

    text-align: center;
    font-family: arial,sans-serif;
    font-size: 50px;
    margin-bottom: 1px;
    color: grey;
}

.image{

    width: 29%;
    float: left;

}

.container{

    padding-left: 11.1%;
    padding-right: 11.1%;

    display: flex;
    justify-content: space-evenly;

}

.img{
    max-width: 100%;
    max-height: 100%;
    border: 3px solid #96CEB4;
}

.des{
    text-align: center;
    color: grey;
}

.link:link{

    text-decoration: none;
    color: grey;
}

.des:hover {

    color: black;
}

.dtlImg{

    padding-left: 4%;
    padding-right: 4%;
    width: 39%;
    float:left;
}

.pic{
    max-width: 100%;
    max-height: 100%;
    border: 5px solid #96CEB4;
}
.list{
    padding-top: 2%;
    float: left;
}